*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDEDED;
}

.centrar{
    margin: 0 auto;
    max-width: 30%;
}

.centrar img{
    margin-top: 20px;
    margin-bottom: 20px;
}

.centrar h2{
    margin-bottom: 20px;
}

.centrar a{
    display: block;
}

.modal h6{
    margin-bottom: 10px;
    font-size: 12px;
}

nav a{
    color:#1d976c !important;
    font-weight: bold;
}

.navbar-brand {
    font-size: 2.25rem !important;
}

.input-group-prepend{
    margin-bottom: 5px;
}

.error{
    color: red !important;
}

.custom-switch {
    padding-left: 2.25rem;
}
ul.list-group {
    margin-bottom: 4px;
}

#intro .intro-text {
    position: absolute;
    left: 0;
    top: 53%;
    right: 0;
    height: calc(50% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#intro h2 {
    margin: 30px 0 10px 0;
    padding: 0 15px;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    color: #1d976c;
    width: 71%;
}

#intro p {
    color: #212529;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 20px;
    width: 70%;
}

#intro .btn-get-started {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    background-color: #1d976c;
    color: #fff;
    transition: all .3s ease;
}


#intro .btn-get-started:hover{
    background-color: #fff;
    color: #14825b;
    border-color: #1e7e34;
}

/* estilos login */
.login {
    background: no-repeat #fff;
    -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 29%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 29%);
    border: 1px solid #e6effd;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    max-width: 470px;
    margin: auto;
    padding: 15px 50px;
    margin-top: 5%;
}

.login form {
    padding: 20px;
    text-align: left;
    font-size: 16px;
}

legend {
    font-family: 'Work Sans',sans-serif;
    font-size: 33px;
    font-weight: 300;
    color: #1d976c;
    margin-bottom: 52px;
    text-align: center;
    line-height: 1.5;
    border: 0;
}

.login form label {
    color: #4b4b4b;
    font-weight: 500;
    font-size: 0.9em;
}

.login a{
    text-decoration: none;
    color: #1d976c;
}

.login .col-md-12 {
    padding: 0;
}

form .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0.3em;
    border: 1px solid #dfdfdf;
    line-height: 1.4!important;
    padding: 0.375rem 0.5rem;
}
.login .botones {
    text-align: center;
}

.login .botones .btn {
    border-color: #fff;
    display: inline-block;
    border-radius: 30px;
    padding: 0.535em 2em;
    padding-top: 0.535em;
    padding-right: 2em;
    padding-bottom: 0.535em;
    padding-left: 2em;
    border: 1.5px solid;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 500;
    background-color: #1d976c;
    color: #fff;
    line-height: 1.5;
    margin: 0;
}

.loginOption {
    width: 100%;
    max-width: 470px;
    background: #e6effd;
    border-radius: 0 0 20px 20px;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 29%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 29%);
}

#btn-acceder:hover{
    background-color: #fff;
    color: #14825b;
    border-color: #1e7e34;
}
/* fin estilos login */

/* estilos nav-menu */
nav a#navMenu{
    color: #fff !important;
}
/* fin estilos nav-menu */

/* estilos wave */
#wave{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

/* estilos menu */
.infoPrincipal{
    margin-top: 20px;
}

.modContent{
    margin-top: 10px;
}

.menuAdmin .option {
    height: 60px;
    margin-bottom: 1rem;
    padding: 10px;
}

.menuAdmin .option a {
    color: #000;
}

.menuAdmin .option img {
    width: 50px;
    height: 50px;
}

/* miga de pan */
.fondoBreadcrumb{
	margin-bottom:0px;
	background: rgba(0,0,0,0);
}

/* label error de formcuenta */
#formCuenta label.error,#formPropias label.error, #formTerceros label.error{
    width: inherit;
}